<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='dojo.css')}}">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div class='box'>
        <div class='smallBox'>
            <div class="leftside">
                <h4>Your name:</h4>
                <h4>Dojo Location:</h4>
                <h4>Favorite Language:</h4>
                <h4>Comment (optional):</h4><br>
            </div>
            <div class="rightside">
                <form action='/result' method='post'>
                    <input type='text' name='name'><br>
                    <select id="state" class="select" name ='dojolocation'>
                        <option value="San Jose">San Jose</option>
                        <option value="Seatle">Seatle</option>
                        <option value="Los Angeles">Los Angeles</option>
                        <option value="Dallas">Dallas</option>
                    </select>
                    <select name="language" id="language" name='language'>
                        <option value="Python">Python</option>
                        <option value="Java Script">Java Script</option>
                        <option value="Java">Java</option>
                        <option value="HTML">HTML</option>
                    </select>
            </div>
        </div>
        <textarea id="resizable" placeholder="Message" name='comment' rows="5" cols="78" margin-left=5px padding="16"></textarea>
        <input class="submit" type='submit' value='Submit'>
    </div>
    </form>
</body>
</html>